.item-center {
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}

.item-final {
    margin-top: auto;
    margin-bottom: auto;
    width: 140px;
}
@media screen and (min-width: 630px) and (max-width: 829px) {
    .item-final {
        width: 100px;
    }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
    .item-final {
        width: 140px;
    }
}